@tailwind base;
@tailwind utilities;

:root {
    --soa-primary: #00606b;
    --soa-secondary: #f5f5db;
    --soa-accent: #191971;
    --soa-background: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --soa-primary: #00606b;
        --soa-secondary: #f5f5db;
        --soa-accent: #191971;
        --soa-background: #313131;
}
}